<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    {{#if token}}
    <div class="formulario">
        <div class="formulario_wrp">
            <form action="/reset-password" method="POST">
                <div class="formulario_wrp_titulo">
                    <h1>Cambiar Contrase単a</h1>
                    <div class="formulario_wrp_titulo_line"></div>
                </div>
                <div class="formulario_wrp_input">
                    <input type="hidden" name="token" value="{{token}}">
                    <label for="newPassword">Nueva contrase単a</label>
                    <br>
                    <br>
                    <input type="password" id="newPassword" name="newPassword" required>
                </div>
                {{#if error}}
                    <p style="color: red">{{error}}</p>
                {{/if}}
                <input class="formulario_wrp_input_submit" type="submit" value="Cambiar contrase単a" />
            </form>
            <div class="formulario_wrp_links">
                <span>多Ya tienes cuenta? <a href="/
                ">Ingresa aqui</a></span>
            </div>
            <svg class="formulario_wrp_logo" xmlns="http://www.w3.org/2000/svg" version="1.0" width="1080.000000pt" height="1054.000000pt" viewBox="0 0 1080.000000 1054.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,1054.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                        <path d="M5070 10506 c1194 -273 2111 -824 2793 -1679 588 -737 929 -1664 1033 -2807 34 -383 29 -1041 -12 -1470 -118 -1242 -531 -2264 -1224 -3030 -95 -106 -307 -313 -415 -406 -570 -491 -1319 -856 -2195 -1070 l-175 -43 2963 0 2962 -1 0 5270 0 5270 -2937 -1 -2938 0 145 -33z"></path>
                        <path d="M2210 5260 l0 -3542 648 5 c635 5 791 12 1022 42 1366 182 2198 918 2511 2221 139 581 177 1362 98 2057 -177 1581 -955 2479 -2341 2702 -279 45 -344 48 -1155 52 l-783 5 0 -3542z"></path>
                        </g>
            </svg>
        </div>
    </div>
    {{else}}
        <p>Invalid or expired token. Please try again.</p>
    {{/if}}
</body>
</html>