.module_7{
    background-color: $black-git;
    padding: 20px;
    max-width: 1250px;
    margin: 200px auto 100px;
    &_wrp{
        background-color: #0D1117;
        padding: 20px;
    }
    h2{
        color: #6e40c9;
        font-size: 48px;
        margin-bottom: 50px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        li{
            list-style-type: none;
            color:#b6bfc7;
            width: 250px;
            height: 300px;
            border: 4px solid #30363c;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 10px 10px 5px 5px black;
            position: relative;
            &:hover{
                margin-top: -4px;
                margin-bottom: 4px;
            }
            strong{
                color: $orange;
                position: relative;
                z-index: 2;
            }
            span{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                position: relative;
                z-index: 2;
            }
        }
    }
    &_ticket{
        padding: 10px;
        width: 100%;
        height: 100%;
        &_background{
            position: absolute;
            top: 0;
            left: 0;
            margin: auto;
            width: 316px;
            height: 290px;
            z-index: 1;
            path{
                fill: rgba(0, 0, 0, 0.5)
            }
        }
        &_cross{
            position: absolute;
            right: 12px;
            top: 12px;
            cursor: pointer;
            z-index: 2;
            &:hover{
                path{
                    fill:$purple;
                }
            }
        }
        position: relative;
    }
}